* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  color: #fff;
  margin: 0 auto;
}
h1 {
  font-size: 160px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
